@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Light.eot');
    src: url('../assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Montserrat-Light.woff') format('woff'), url('../assets/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.eot');
    src: url('../assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Montserrat-Regular.woff') format('woff'), url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-ExtraBold.eot');
    src: url('../assets/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff'), url('../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
