$main-color: #18CFAB;
$secondary-color: #ffffff;
$color-grey: #878787;
$color-dark-grey: #4E4E4E;
$light-grey: #d4d4d4;
$light-black: #717171;
$color-dark-blue: #1C2A33;
$light-blue: #00CBF6;
$tabs-bg-color: #F8FCFE;
$work-bg-color: #E9EDEF;
$blog-date-color: #203E38;
$blog-text-color: #777777;